@font-face {
  src: url("../font/onyx.otf");
  font-family: onyx;
}

html,
body {
  font-family: onyx;
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#next-page-home {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
}

#next-page-home img {
  width: 100%;
}

#next-page {
  position: absolute;
  top: 83%;
  left: 80%;
  width: 15%;
}

#next-page img {
  width: 100%;
}

#homepage {
  background-image: url("../img/water.jpeg");
  background-size: cover;
}

#home {
  text-align: left;
  font-size: 80pt;
  font-weight: lighter;
  margin-left: 40pt;
  margin-top: 20pt;
  margin-bottom: 0pt;
  letter-spacing: 20px;
}

#title {
  text-align: left;
  font-size: 40pt;
  font-weight: lighter;
  margin-left: 40pt;
  margin-top: 0pt;
}

#click {
  position: absolute;
  top: 5%;
  left: 25%;
  font-size: 30pt;
  letter-spacing: 15px;
  font-weight: lighter;
  color: black;
}

#mouse {
  position: absolute;
  top: 5%;
  left: 40%;
  font-size: 20pt;
  letter-spacing: 15px;
  font-weight: lighter;
  color: black;
}
